<ion-header>
  <ion-toolbar color="main">
    <ion-title>Editar Detalle</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{ productoForm.value.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ productoForm.value?.descripcion }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>

  <form [formGroup]="productoForm" (ngSubmit)="formSubmit()" class="ion-padding">       
    <div class="form-group">
      <ion-label position="floating">Id/Cod</ion-label>
      <ion-input formControlName="producto_id" readonly></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input
        formControlName="cantidad"
        type="number"
        name="cantidad"
        (input)="setSubtotal()"
      ></ion-input>
    </div>

    <div class="form-group">
      <ion-select label="Listado de Precios" 
        interface="action-sheet"
        (ionChange)="selectPriceOfProduct($event)">
        <ion-select-option  *ngFor="let val of producto.precio_lista"
          [value]="val">
          {{val.nombre}}
        </ion-select-option>
      </ion-select>
    </div>
    
    <div class="form-group">
      <ion-label position="floating">Precio Unitario</ion-label><br>
      <ion-text>
        {{ productoForm.value.precio_unitario | formatCustom }}
      </ion-text>
    </div>    

    <div class="form-group">
      <ion-label position="floating">Subtotal</ion-label><br>
      <ion-text>
        {{ productoForm.value.subtotal | formatCustom }}
      </ion-text>
    </div>

    <ion-button type="submit" expand="block">Guardar</ion-button>
  </form>
  
</ion-content>
