<ion-header>
  <ion-toolbar>
    <ion-title> Agregar Cliente </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="formulario" [formGroup]="clienteForm">
       
    <div class="form-group">
      <ion-label position="floating">Ci/Ruc</ion-label>
      <ion-input
        formControlName="ciRuc"
        type="text"        
        name="ciRuc"
      ></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
        formControlName="nombre"
        type="text"        
        name="nombre"
      ></ion-input>
    </div>
    
    <ion-button type="submit" expand="block">Enviar</ion-button>
  </form>

  
</ion-content>

