<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>preventa-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--ion-searchbar  
    (ionInput)="handleInputSearch($event)" 
    placeholder="Filtrar por "
  ></ion-searchbar-->

  <ion-list lines="full">
    <ion-item
      *ngFor="let result of preventaList"
      [button]="true" 
      detail="false"            
    >
    <ion-label>
      <strong>ID: {{ result.id }}</strong><br />
      <strong>Cliente: {{ result.cliente_id }}</strong><br />
      <ion-text>Total: {{ result.total }}</ion-text><br />
      <ion-text>Vendedor {{ result.vendedor_id }}</ion-text><br />
      <!-- <ion-note color="medium" class="ion-text-wrap">
       items: {{result.productos.length}}
      </ion-note> -->
    </ion-label>
    <div class="metadata-end-wrapper" slot="end">
      <!--ion-note color="medium">+ {{ result.precios.length }}</ion-note>
      <ion-icon color="medium" name="chevron-forward"></ion-icon-->
    </div>
    </ion-item>
  </ion-list>
</ion-content>