<ion-header>
  <ion-toolbar>
    <ion-title> Añadir Productos </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <form class="formulario" [formGroup]="productoForm" (ngSubmit)="actualizar()">       

    <div class="form-group">
      <ion-label position="floating">Código</ion-label>
      <ion-input formControlName="codigo" readonly></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion" readonly></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input
        formControlName="cantidad"
        type="number"
        name="cantidad"
        (input)="calcularPrecioPorCantidad()"
      ></ion-input>
    </div>
    
    <div class="form-group">
      <ion-label position="floating">Precio</ion-label>
      <ion-input
        formControlName="precio"
        type="number"
        name="precio"
      ></ion-input>
    </div>    

    <div class="form-group">
      <ion-label position="floating">Total Producto</ion-label>
      <ion-input
        formControlName="totalUnitario"
        type="number"
        name="totalUnitario"
      ></ion-input>
    </div>

    <ion-button type="submit" expand="block">Actualizar</ion-button>
  </form>
  
</ion-content>
