<ion-header>
  <ion-toolbar color="main">
    <ion-title>Editar Detalle</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="formulario" [formGroup]="productoForm" (ngSubmit)="formSubmit()">       

    <div class="form-group">
      <ion-label position="floating">Id/Cod</ion-label>
      <ion-input formControlName="producto_id" readonly></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" readonly></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input
        formControlName="cantidad"
        type="number"
        name="cantidad"
        (input)="setSubtotal()"
      ></ion-input>
    </div>
    
    <div class="form-group">
      <ion-label position="floating">Precio Unitario</ion-label>
      <ion-input
        formControlName="precio_unitario"
        type="text"
        name="precio_unitario"
      ></ion-input>
    </div>    

    <div class="form-group">
      <ion-label position="floating">Subtotal</ion-label>
      <ion-input
        formControlName="subtotal"
        type="number"
        name="subtotal"
      ></ion-input>
    </div>

    <ion-button type="submit" expand="block">Guardar</ion-button>
  </form>
  
</ion-content>
