.formulario {
    margin: auto; 
    max-width: 400px; 
    padding: 20px; 
    border: 1px solid #ccc; 
}

table {
    border: 1px solid;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

