<ion-header>
  <ion-toolbar color="main">
    <ion-title>Seleccionar Cliente</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar   
    placeholder="Filtrar por ID o nombre"
    (ionInput)="handleInputSearch($event)"     
    [debounce]="100"
  ></ion-searchbar>

  <ion-list lines="full">
        
    <ion-item
      *ngFor="let result of clientes"
      [button]="true" detail="false"
      (click)="selectClient(result)"
    >
      <ion-label>        
        <strong>{{ result?.ruc || result?.ci }}</strong
        ><br />
        <ion-text>{{ result.nombre }}</ion-text
        ><br />
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- btoton para el formulario con el cliente -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openClienteFormModal()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>