<ion-header>
  <ion-toolbar>
    <ion-title> Seleccionar Cliente </ion-title>
    <ion-button slot="end" (click)="abrirClienteModalForm()" *ngIf="showButtonAddCliente()">Agregar cliente</ion-button>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar   
    placeholder="Filtrar por ID o nombre"
    (ionInput)="handleInputSearch($event)"     
    [debounce]="100"
  ></ion-searchbar>

  <ion-list lines="full">
        
    <ion-item
      *ngFor="let result of clientes"
      [button]="true" detail="false"
      (click)="selectClient(result)"
    >
      <ion-label>        
        <strong>{{ result.ruc }}</strong
        ><br />
        <ion-text>{{ result.nombre }}</ion-text
        ><br />
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>