<ion-header [translucent]="false">
   <ion-toolbar color="main">
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Productos List Card</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-searchbar
      placeholder="Filtrar por Codigo o Descripcion"
      (ionInput)="handleInput($event)"
      [debounce]="100"
   >
   </ion-searchbar>

   <ion-list>
      <ion-card
         *ngFor="let result of results"
         (click)="selectProduct(result)"
         style="height: 120px"
      >
         <ion-grid>
            <ion-row>
               <!-- Columna izquierda -->
               <ion-col size="8">
                  <ion-card-content>
                     <ion-label>
                        <strong>ID: {{ result.id }}</strong><br />
                        <ion-text>{{ result.nombre }}</ion-text><br />
                        <ion-note color="medium" class="ion-text-wrap"
                           >{{ result.precio | formatCustom }}
                        </ion-note>
                     </ion-label>
                  </ion-card-content>
               </ion-col>

               <!-- Columna derecha -->
               <ion-col size="4" class="ion-text-right">
                  <ion-img
                     [src]="result.imagen || 'https://www.tl.com.py/cdn/shop/files/3570588416bc519cb514f1da80377f1d_798x798.jpg?v=1724537782'"
                     alt="Imagen del producto"
                  ></ion-img>
               </ion-col>
            </ion-row>
         </ion-grid>
      </ion-card>
   </ion-list>

   <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="secondary" (click)="openShoppingCartModal()">
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
   </ion-fab>
</ion-content>
