<ion-header [translucent]="false">
   <ion-toolbar color="main">
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pagos</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
   <ion-searchbar
      placeholder="Filtrar por ID"
      (ionInput)="handleInput($event)"
      [debounce]="100"
   >
   </ion-searchbar>

   <ion-list>
      <ion-item *ngFor="let result of results" [button]="true" detail="false">
         <div class="unread-indicator-wrapper" slot="start">
            <div class="unread-indicator"></div>
         </div>
         <ion-label>
            <strong>ID: {{ result.id }}</strong><br />
            <ion-text>VENTA: {{ result.venta_id }}</ion-text><br />
            <ion-text>CAN: {{ result.cantidad }}</ion-text><br />
            <ion-text>TOT: {{ result.total }}</ion-text><br />
            <!-- <ion-note color="medium" class="ion-text-wrap">
               {{ result.precios[0].cantidad }} x {{
               result.precios[0].precio_unitario }}
            </ion-note> -->
         </ion-label>
         <!-- <div class="metadata-end-wrapper" slot="end">
            <ion-note color="medium">+ {{ result.precios.length }}</ion-note>
            <ion-icon color="medium" name="chevron-forward"></ion-icon>
         </div> -->
      </ion-item>
   </ion-list></ion-content
>
