// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* Set variables for all modes */
:root {
   --ion-color-main: #a2e3ec;
	--ion-color-main-rgb: 162,227,236;
	--ion-color-main-contrast: #000000;
	--ion-color-main-contrast-rgb: 0,0,0;
	--ion-color-main-shade: #8fc8d0;
	--ion-color-main-tint: #abe6ee;
}

.ion-color-main {
	--ion-color-base: var(--ion-color-main);
	--ion-color-base-rgb: var(--ion-color-main-rgb);
	--ion-color-contrast: var(--ion-color-main-contrast);
	--ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb);
	--ion-color-shade: var(--ion-color-main-shade);
	--ion-color-tint: var(--ion-color-main-tint);
}