<ion-header>
  <ion-toolbar color="main">
    <ion-title>Formulario de Cliente</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    class="formulario"
    [formGroup]="clienteForm"
    (ngSubmit)="clienteFormSubmit()"
  >
    <div class="form-group">
      <ion-label position="floating">CI/RUC</ion-label>
      <ion-input
        formControlName="ruc"
        type="text"
        name="ciRuc"
        (ionBlur)="handleInputSearch($event)"
      ></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text" name="nombre"></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Categoria Cliente</ion-label>
      <ion-select
        aria-label="Categoria Cliente"
        id="id_categoria_cliente"
        formControlName="id_categoria_cliente"
        name="id_categoria_cliente"
        required
      >
        <ion-select-option
          *ngFor="let item of categoriaClientes"
          [value]="item.id"
        >
          {{ item.nombre }}
        </ion-select-option>
      </ion-select>
    </div>

    <div class="form-group">
      <ion-label position="floating">Departamento</ion-label>

      <ion-select
        aria-label="Departamento"
        id="departamento"
        formControlName="id_departamento"
        name="departamento"
        (ionChange)="onDepartamentoChange($event)"
        required
      >
        <ion-select-option
          *ngFor="let departamento of departamentos"
          [value]="departamento.id"
        >
          {{ departamento.nombre }}
        </ion-select-option>
      </ion-select>
    </div>

    <div class="form-group">
      <ion-label position="floating">Ciudad</ion-label>
      <ion-select
        aria-label="Ciudad"
        id="ciudad"
        formControlName="id_ciudad"
        name="ciudad"
        required
      >
        <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
          {{ ciudad.nombre }}
        </ion-select-option>
      </ion-select>
    </div>

    <div class="form-group">
      <ion-label position="floating">Telefono</ion-label>
      <ion-input
        formControlName="telefono"
        type="text"
        name="telefono"
      ></ion-input>
    </div>

    <div class="form-group">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" name="email"></ion-input>
    </div>

    <!--ion-button type="button" expand="block" (click)="setGeobicationModal()"
      >Editar Ubicación</ion-button
     -->
    <ion-button type="submit" expand="block">Guardar</ion-button>
  </form>
</ion-content>
