<ion-list>
   <ion-item *ngFor="let slot of slots; let i = index">
      <form
         *ngIf="slotForms[i]"
         [formGroup]="slotForms[i]"
         (ngSubmit)="setSlot(i)"
      >
         <ion-label
            ><b>Slot: {{ slot.slot_num }} </b></ion-label
         >

         <ion-item>
            <ion-label position="stacked">Producto</ion-label>
            <ion-select
               formControlName="producto_id"
               placeholder="Seleccione un producto"
            >
               <ion-select-option
                  *ngFor="let prod of productos"
                  [value]="prod.id"
               >
                  {{ prod.nombre }}
               </ion-select-option>
            </ion-select>
         </ion-item>

         <ion-item>
            <ion-label>Precio</ion-label>
            <ion-input type="number" formControlName="precio"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label>Precio Oferta</ion-label>
            <ion-input
               type="number"
               formControlName="precio_oferta"
            ></ion-input>
         </ion-item>

         <ion-item>
            <ion-label>Stock</ion-label>
            <ion-input type="number" formControlName="stock"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label>Stock Mínimo</ion-label>
            <ion-input type="number" formControlName="stock_minimo"></ion-input>
         </ion-item>

         <ion-item>
            <ion-label>Stock Inicial</ion-label>
            <ion-input
               type="number"
               formControlName="stock_inicial"
            ></ion-input>
         </ion-item>

         <ion-button
            expand="block"
            type="submit"
            [disabled]="slotForms[i].invalid"
         >
            Actualizar
         </ion-button>
      </form>
   </ion-item></ion-list
>
