<ion-header [translucent]="false">
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="light">
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" ></ion-searchbar>


<ion-list [inset]="true">
  <ion-item *ngFor="let result of results" [button]="true" detail="false" (click)="viewMoreDetailsProducts(result)">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-label>
        <strong>{{ result.codigo }}</strong><br />
        <ion-text>{{ result.nombre }}</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
         {{ result.precios[0].cantidad }} x
         {{ result.precios[0].precio_unitario }}
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">+ {{ result.precios.length }}</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
  </ion-item>
   
</ion-list>
