<ion-header [translucent]="true">
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form class="formulario" (ngSubmit)="clienteFormSubmit()" [formGroup]="clienteForm">

    <div class="form-group">
      <ion-label position="floating">CI</ion-label>
      <ion-input formControlName="ci"></ion-input>    
    </div>      

    <div class="form-group">
      <ion-label position="floating">RUC</ion-label>
      <ion-input formControlName="ruc"></ion-input>    
    </div>    

    <div class="form-group">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>    
    </div>    

    <div class="form-group">
      <ion-label position="floating">Departamento</ion-label>
    
      <ion-select
        aria-label="Departamento"
        id="departamento"
        formControlName="departamento"
        name="departamento"
        (ionChange)="onDepartamentoChange($event)"
        required
      >
        <ion-select-option *ngFor="let departamento of departamentos" [value]="departamento.id">
          {{ depto.nombre }}
        </ion-select-option>
      </ion-select>
    
    </div>

    <div class="form-group">
      <ion-label position="floating">Ciudad</ion-label>
      <ion-select
        aria-label="Ciudad"
        id="ciudad"
        formControlName="ciudad"
        name="ciudad"       
        required
      >
        <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
          {{ ciudad.nombre }}
        </ion-select-option>
      </ion-select>
    </div>

    <div class="form-group">
      <ion-label position="floating">Dirección</ion-label>
      <ion-input formControlName="direccion"></ion-input>    
    </div>    

    <div class="form-group">
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="telefono"></ion-input>    
    </div>    

    <div class="form-group">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>    
    </div>    

    <ion-fab slot="fixed" vertical="end" horizontal="end">
      <ion-fab-button (click)="clienteFormSubmit()" color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form> 
  
</ion-content>
