<ion-header [translucent]="true">
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Proveedor Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ proveedorForm.value.id }}</ion-card-subtitle>
      <ion-card-title>{{ proveedorForm.value.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-button fill="clear" (click)="openProveedorTableModal()"
      >AGREGAR PROVEEDOR</ion-button
    >
  </ion-card>

  <ion-list lines="full">
    <ion-item *ngFor="let result of results" [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-label>
        <strong>{{ result?.id }}</strong><br />
        <ion-text>{{ result?.nombre }}</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          E: {{ result?.precio | formatCustom }}
          |   
          F: {{ 
            result?.precio_fraccion == '0' ? '-' : 
            result?.precio_fraccion | formatCustom 
          }}
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
