<ion-header [translucent]="true">
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Preventa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form class="formulario" (ngSubmit)="preventaFormSubmit()" [formGroup]="preventaForm">
    <div class="form-group">
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>
    
    <div class="form-group">
      <ion-label position="floating">Condicion Venta</ion-label>

      <ion-list>
        <ion-item>
          <ion-select
            aria-label="Condicion Venta"
            id="condicion_venta"
            formControlName="condicion_venta"
            name="condicion_venta"
            required
          >
            <ion-select-option  [value]="1">Contado</ion-select-option>
            <ion-select-option [value]="2">Credito</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <div class="form-group">
      <ion-label position="floating">Forma de Pago </ion-label>
      <ion-list>
        <ion-item>
          <ion-select
            aria-label="Forma de pago"
            id="formapago_id"
            formControlName="formapago_id"
            name="formapago_id"
            required
          >
            <ion-select-option *ngFor="let formaPagoItem of formaPagoList; index as i" 
              [value]="i + 1">{{formaPagoItem}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <ion-button expand="block" (click)="openClienteTableModal()">
      Seleccionar Cliente
    </ion-button>
    
    <div class="form-group">
      <ion-label position="floating"
        >CI/RUC: {{ preventaForm.value.ci_ruc }}</ion-label
      >
    </div>
    <div class="form-group">
      <ion-label position="floating"
        >Nombre: {{ preventaForm.value.nombre }}</ion-label
      >
    </div>
    
    
    
    <!--div class="form-group">
      <ion-label position="floating">Observación</ion-label>
      <ion-textarea
        formControlName="observacion"
        labelPlacement="floating"
        fill="outline"
        placeholder="Enter text"
      ></ion-textarea>
    </div-->    

   

    <!-- Productos detalle -->
    <ion-grid *ngFor="let producto of productos" class="bl-detalle">
      <ion-row>
        <ion-col size-sm="12">
          Id/Cod: {{ producto?.producto_id}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12">{{ producto?.nombre
        }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">{{ producto.cantidad }} x</ion-col>
        <ion-col size="6">{{ producto.precio_unitario }} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="bl-subtotal">{{ producto.subtotal }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="bl-edit" (click)="openProductoFormModal(producto)">Editar</ion-col>
        <ion-col size="6" class="bl-remove" (click)="removeProductoDetalle(producto)">Eliminar</ion-col>
      </ion-row>
    </ion-grid>
    
    <!-- Seleccionar producto y enviar -->
    <ion-button expand="block" (click)="openProductoTableModal()">
      Seleccionar Producto
    </ion-button>
    
  </form>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="preventaFormSubmit()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-toast
    [isOpen]="toastComponent.open"
    [message]="toastComponent.message"
    [duration]="3000"
    (didDismiss)="setOpenToast(false)"
  ></ion-toast>
</ion-content>
