<ion-header [translucent]="false">
  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Vendedor ID:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ vendedorID }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cantidad de Preventas del Mes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ preventasDelMes }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total de Preventas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ totalPreventas }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Meta del Vendedor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       {{ metaVendedor }} 
    </ion-card-content>
  </ion-card>
</ion-content>