.bl-detalle {
   ion-col {
      background-color: #eaeaea;
      border: solid 1px #fff;
      text-align: center;
   }

   .bl-edit {
      background-color: yellow;
   }

   .bl-remove {
      background-color: red;
      color: #fff;
   }

   .bl-subtotal {
      background-color: #98eebc;
   }
}
